*{
    padding: 0;
    margin: 0;
}

body{
    font-size: 62.5%;
}

.slide{
    background: white;
    margin: 5em;
    top: 50%;
    left: 50%;
    position: absolute;
}

.slide h1{
    position: relative;
    display: block;
}

#slideProgress{
    position: fixed;
    bottom:0;
    left:0;
    height: 2em;
    -webkit-transition: width 0.5s;
}

.restart{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1em;
}



.works_cited{

}
.works_cited .author{

}

.works_cited .author:after{
    content: '. '
}

.works_cited .title{
    font-style: italic;
}

.works_cited .title:after{
    content: '. '
}

.works_cited .pub_city{

}
.works_cited .pub_city:after{
    content: ': '
}

.works_cited .publisher{

}

.works_cited .publisher:after{
    content: ', '
}

.works_cited .pub_date{

}

.works_cited .pub_date:after{
    content: '. '
}

.works_cited .pub_type{

}

.works_cited .pub_type:after{
    content: '. '
}

#modal{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: scroll;
    z-index: 100000;
    width: 100%;
    background: url("../imgs/opacity.png") top right;
}


@media screen and (min-height: 400px){
    .slide{
        font-size: 0.3em;
        width: 518px;
        height: 400px;
        margin-left: -259px;
        margin-top: -200px;
    }
    #modal{
        font-size: 0.8em;
    }
}
@media screen and (min-height: 500px){
    .slide{
        font-size: 0.5em;
        width: 582px;
        height: 450px;
        margin-left: -291px;
        margin-top: -225px;
    }

    #modal{
        font-size: 1.4em;
    }
}

@media screen and (min-height: 600px){
    .slide{
        font-size: 0.6em;
        width: 748px;
        height: 580px;
        margin-left: -374px;
        margin-top: -290px;
    }
    #modal{
        font-size: 1.7em;
    }
}

@media screen and (min-height: 700px){
    .slide{
        font-size: 0.7em;
        width: 878px;
        height: 680px;
        margin-left: -439px;
        margin-top: -340px;
    }
    #modal{
        font-size: 2em;
    }

}

@media screen and (min-height: 1024px){
    .slide{
        font-size: 1em;
        width: 1296px;
        height: 1000px;
        margin-left: -648px;
        margin-top: -500px;
    }
    #modal{
        font-size: 2.8em;
    }
}