body{
    background: #2c2c2c;
    font-family: 'Palatino Linotype';
    color: #333;
}

.slide.titleSlide{

}

.slide{
    background: #fefefe;
}

.slide, img{
    -moz-box-shadow: 0em 1em 1em rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0em 1em 1em rgba(0, 0, 0, 0.5);
    box-shadow: 0em 1em 1em rgba(0, 0, 0, 0.5);
}

.slide.titleSlide h1, .slide.topic h1{
    font-size: 8em;
    text-align: center;
}

.slide.topic h1 {
    font-size: 6em;
}

.slide h1, .slide.titleSlide h2{
    text-shadow: 1px 1px 2px #999;
}

.slide.titleSlide h1{
    margin-top: 3em;
    background: none;
}

.slide.titleSlide h2{
    text-align: center;
    font-size: 4em;
    font-style: italic;
}

.actionable{
    cursor: pointer;
}

.slide h1{
    font-size: 5em;
    padding: 0.5em 1em 0.2em 1em;
}
.slide .content{
    padding: 1em;
    font-size: 3em;
}


#slideProgress{
    background-color: #525252;
    text-align:right;
}

#slideProgress:hover span{
    display: inline;

}

#slideProgress span{
    display: none;
    margin-right: 1em;
    font-size: 1.5em;
    color: white;
}

ul, ol{

    margin-left: 2em;
}

pre{
    margin: 0.5em 2em;
}

img{
    margin: 1em;
}

.noway{
    text-decoration: line-through;
    color: red;
}

a{
    text-decoration: none;
}
a:link, a:visited, a:hover, a:active{
    color: #1e90ff;
    font-weight: bold;
}

pre.javascript li:hover{
    -webkit-transition: all, 0.1s;
    font-weight: bold;
    font-size: 1.1em;
}